/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}
* {
    margin: 0;
    padding: 0;
}
/*make body font monospace and size-125%*/
body{
    font-family: monospace;
    font-size: 125%;
}

/*make input font monospace*/
input{
    font-family: monospace;
}

.bg-img {
    /* The image used */
    background-image: url("../img/login_back.jpg");
    /* Add the blur effect
    filter: blur(08px);
    -webkit-filter: blur(4px);
    Full height */
    height: 99.87%;

    margin: auto;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/* Full-width inputs */
input[type=text],
input[type=password] {
    width: 25%;
    padding: 6px 10px;
    margin: 8px 0;
    border-radius: 5%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing:border-box;

}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    border-radius: 15%;
}


/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}
a {
    color: rgb(255, 255, 255);
    /*-webkit-transition: all 0.2s;
    transition: all 0.2s;*/
    float: right;
  }
.btn {
    font-weight: 7;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }
  
  .btn-xl {
    padding: 1rem 2rem;
  }
/*.btn-primary {
    background-color: #F05F40;
    border-color: #F05F40;
  }*/
  
 /* .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: #fff;
    background-color: #ee4b28 !important;
  }*/
  
  /*.btn-primary:active, .btn-primary:focus {
    -webkit-box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
    box-shadow: 0 0 0 0.2rem rgba(240, 95, 64, 0.5) !important;
  }*/
/*making container see through*/
.container {
    background-color: rgb(0, 0, 0);
    /*Fallbakc color*/
    background-color: rgb(0, 0, 0, 0.4);
    /*BLack with see through opacity*/
    padding: 20px;
    
    border: 1px solid #f1f1f1;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 40%;
  border-radius: 5%;
    text-align: center;
}

/* The "Forgot password" text */
span.psw {
    
    float: right;color: rgb(255, 255, 255);
    
    
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: right;
    
        ;
    }
}