body {
    background: url("/img/Search.jpg")no-repeat center center fixed;
    overflow: hidden;
}

.bg {
    margin-left: 160px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto !important;
    border-bottom: 8px solid #ffffff;
}

.space {
    padding-top: 20px;
    padding-bottom: 20px;
}

.side-nav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.671);
}

.sideb {
    background-color: rgba(0, 0, 0, 0.733);
    color: #ffffff;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}