html,
body,
header {
    height: 100%;
}
.navbar{
    background-color: rgba(14, 14, 14, 0.719)
}
#intro {
    background: url("/img/Search.jpg")no-repeat center center fixed;
}

.fas{
    text-align:right
}

