    .card {
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
        box-shadow: 2px 2px 4px #000000;
        max-width: 300px;
        margin: auto;
        text-align: center;
    }
    
    .card:hover {
        box-shadow: 11 11 11px rgba(33, 33, 33, .2);
    }
    
    .title {
        color: grey;
        font-size: 18px;
    }
    
    button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }
    
    a {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }
    
    button:hover,
    a:hover {
        opacity: 0.7;
    }
    /* ..............from search style.css...........................*/
    
    .navbar {
        background-color: rgba(14, 14, 14, 0.719)
    }
    
    body {
        background: url("/img/Search.jpg")no-repeat center center fixed;
    }
    
    .bg {
        /* background: url("/img/Search.jpg")no-repeat center center fixed; */
        /* background: #fff; */
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: auto;
        margin-bottom: 7%;
    }
    /* .container{
    background-color: aliceblue;
    opacity: 0.5;
} */
    
    li {
        list-style: none;
    }
    
    .reqbtn {
        padding-top: 4%;
    }
    
    .navbar {
        background-color: rgba(14, 14, 14, 0.719)
    }
    
    body {
        background: url("/img/poster-back.jpg")no-repeat center center fixed;
        background-size: cover;
    }
    
    .bg {
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: auto;
        margin-bottom: 7%;
    }
    
    li {
        list-style: none;
    }