.navbar{
    background-color: rgba(14, 14, 14, 0.719)
}
.bg {
    background: url("/img/Search.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100% !important;
}
.card{
    height: 610px !important;
    width: 500px;
}
