html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("/img/home.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: rgb(211, 99, 47);
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: rgb(211, 99, 47);
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: rgb(211, 99, 47);
    }
  }
hr{
  color: rgb(0, 0, 0)
}
  .page-footer{
    background-color: rgb(184, 80, 32)
  }