.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    background: rgba(255, 255, 255, 0.932);
    color: white;
}

.title {
    color: grey;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 16px;
    color: black;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

button:hover,
a:hover {
    opacity: 0.7;
}

body {
    background: url("/img/Search.jpg")no-repeat center center fixed;
}

.bg {
    margin-left: 160px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
}

.space {
    padding-top: 20px;
    padding-bottom: 20px;
}

.side-nav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.671);
}

.sideb {
    background-color: rgba(0, 0, 0, 0.733);
    color: aliceblue;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}