<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="/../../css/register.css">
        <link rel="stylesheet" type="text/css" href="/../../css/util.css">

        
           
    </head>
    <body>
        
        <div class="limiter">
            <div class="container-login100">
                <div class="wrap-login100">
                    <form class="login100-form validate-form">
                        <span class="login100-form-title p-b-26">
                            Post Your Offer with OfferSync!
                        </span>
                        <span class="login100-form-title p-b-48">
                            <i class="zmdi zmdi-font"></i>
                        </span>
    
                        <div class="wrap-input100 validate-input" data-validate = "Valid offer title is: a">
                            <input class="input100" type="text" name="offerTitle">
                            <span class="focus-input100" data-placeholder="Offer Title"></span>
                        </div>
                        
                        <div class="wrap-input100 validate-input" data-validate = "Valid restuarant is: a">
                            <input class="input100" type="text" name="restaurant">
                            <span class="focus-input100" data-placeholder="restaurant"></span>
                        </div>
    
                        <div class="wrap-input100 validate-input" data-validate = "Valid Restuarant branch is: a">
                            <input class="input100" type="text" name="RestuarantBranch">
                            <span class="focus-input100" data-placeholder="Restuarant branch"></span>
                        </div>
                        
                        <div class="wrap-input100 validate-input" data-validate = "Valid description is: a">
                            <input class="input100" type="text" name="description">
                            <span class="focus-input100" data-placeholder="Describe your offer!"></span>
                        </div>
    
                        <div class="wrap-input100 validate-input" data-validate = "Valid city is: a">
                            <input class="input100" type="text" name="city">
                            <span class="focus-input100" data-placeholder="City"></span>
                        </div>
                        
                        
    
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn">
                                    Post Now!
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    

        </body>
